/*pc screen*/
@media screen and (min-width: 1220px)
{
body
	{
		background-color: #f2b0b5;
		font-family: helvetica;
	}
.label
	{
		font-style: italic;
		font-size: 10px;
	}
 h1,h2, h3, h4
{
	text-transform: uppercase;
}
a:hover, .menu label:hover
{
  color: #00ffaa;
}
a:active, .btn:hover
{
  color: #ca0aa1;
}
/*styling navigation*/
#logo
	{
		width: 50px;
		height: 50px;
		float:left;
	}
.banner
	{
		float:left;
		background-color: #d7b4a5;
		width: 100%;
		height: 50px;
		outline: solid 2px;
	}
.banner h1
	{
		
		font-size: 20px;
		position: relative;
		bottom: 10px;
		right: 7px;
		letter-spacing: 1px;
	}
.banner h2
	{
		
		font-size: 13px;
		position: relative;
		bottom: 27px;
		left: 44px;
		letter-spacing: 2px;
	}
nav .mobile
	{
		display: none;
	}
nav ul
	{
		outline: solid 2px;
		list-style-type: none;
		background-color: #65a1c3;
		width: inherit;
		text-transform: uppercase;
		display: flex;
		justify-content: space-evenly;
		border-style: double;
	}
nav li
{
	border-style: solid;
	border-width: 3px;
	border-color: #ffadad;
	background-color: #ffadad;
	padding: 5px;
}
main
	{
		clear: both;
	}
/*styling index page*/
#grid-container.index
	{
		background-color: #7f95b5;
		border-style: solid;
		border-width: 3px;
		padding: 7px;
		display: grid;
		grid-template-columns: 75% 25%;
		grid-gap: 1px;
		justify-content: space-evenly;
		margin: 20px;
	}

#grid-container.index article
	{
		grid-column: 1/2;
		background-color: #c7c8cb;
		border: solid 2px;
		text-align: center;
		padding: 15px;
		display: grid;
		grid-template-areas:
		'header header'
		'text photo';
		grid-gap: 5px;
	}
#article1.index h2
	{
		grid-area: header;
	}
#article1.index p
	{
		grid-area: text;
	}
#article1.index img
	{
		grid-area: photo;
		height: 220px;
	}
#article2.index h2
	{
		grid-area: header;
	}
#article2.index p
	{
		grid-area: text;
	}
#article2.index img
	{
		grid-area: photo;
		height: 210px;
		
	}
#article3.index h2
	{
		grid-area: header;
	}
#article3.index p
	{
		grid-area: text;
	}
#article3.index img
	{
		grid-area: photo;
		height: 225px;
	}
#grid-container.index video
{
		grid-column: 1/3;
		grid-row: 1;
		width: 100%;
		height: 400px;
		margin: 10px;
	}
#vid-tablet{display: none;}
#list-bx.index
	{
		grid-column: 2/3;
		grid-row: 2/span 5;
		background-color: #c7c8cb;
		border: solid 2px;
		text-align: center;
		font-size: 20px;
		line-height: 4;
	}
#list-bx.index li
	{	
		list-style: none;
		word-spacing: 3px;
	}
.index strong
	{
		text-transform: uppercase;
	}
/*styling bestdestinations page*/
#grid-container.bestdestinations
	{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 15px;
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-gap: 5px;
		justify-content: space-evenly;
		margin: 20px;
	}

#grid-container.bestdestinations article
	{
		background-color: #c7c8cb;
		border: solid 2px;
		text-align: center;
		padding: 15px;
	}
#article1.bestdestinations
	{
		grid-column: 2/3;
		grid-row: 1/6;
		font-size: 24px;
	}
#article2.bestdestinations
	{
		grid-column: 1/2;
		grid-row: 1/2;
	}
#article3.bestdestinations
	{
		grid-column: 3/4;
		grid-row: 1/3;
	}
#article4.bestdestinations
	{
		grid-column: 3/4;
		grid-row: 4/5;
	}
#article5.bestdestinations
	{
		grid-column: 1/2;
		grid-row: 2/7;
		font-size: 22px;
	}
#article6.bestdestinations
	{
		grid-column: 2/4;
		grid-row: 6/7;
	}
#list-box.bestdestinations
	{
		grid-column: 1/4;
		grid-row: 7;
		background-color: #c7c8cb;
		border: solid 2px;
		padding: 15px;
		display: grid;
		grid-template-areas:
		'header header header'
		'producta productb productc'
		'label label label';
		text-align: center;
	}
#list-box.bestdestinations h3
	{
		grid-area: header;
		display: inline;
	}
.bestdestinations #product1.listproducts a
	{
		display: inline;
		grid-area: producta;
	}
.bestdestinations #product2.listproducts a
	{
		
		display: inline;
		grid-area: productb;
	}
.bestdestinations #product3.listproducts li
	{
		
		display: inline;
		grid-area: productc;
		width: 20px;
	}
	
#list-box.bestdestinations img, #tickets.list-box img
	{
		width: 350px;
		height: 300px;
		padding: 5px;
		
	}
#list-box.bestdestinations footer
	{
		grid-area: label;
	}
#list-box.bestdestinations li
	{
		display: inline-block;
	}
#list-box.tickets img
{
	border: solid 2px;
}
/*styling tickets page*/
#tickets
	{
		display: grid;
		text-align:center;
		grid-template-columns: 75% 25%;
		grid-gap: 10px;
	}
#tickets caption
	{
		grid-column: 1/3;
	}
#tickets table
	{
		grid-column: 1/2;
		margin-bottom: 20px;
		border-style: dotted;
		border-width: 4px;
		border-color: #ffffff;
	}
#list-box.tickets
	{
		grid-column: 2/3;
		display: inline-block;
		background-color: #AAA;
		width: 330px;
		margin-bottom: 20px;
		text-align: center;
	}
#list-box.tickets img
{
	width: 170px;
	height:	200px;
}
#list-box.tickets h3
{
	display: inline;
}
#list-box.tickets li
{
	list-style: none;
}
#tickets th
	{
		background-color: #FFF;
		 outline: 2px solid;
	}
#tickets td
	{
		outline: 0.5px solid;
	}
#tickets .grey_rows
	{
		background-color: #c7c8cb;
	}
#tickets .blue_rows
	{
		background-color: #7f95b5; 
	}
/*styling contact page*/
#contact
	{
		display: grid;
		text-align: center;
		grid-template-columns:70% 20%;
		grid-column-gap: 50px;
	}
#contact p
	{
		grid-column: 1/ span 2;
		padding: 15px;
	}
#contact fieldset
	{
		grid-column: 1;
		height: auto;
		text-align: center;
		background-color: #c7c8cb;
	}
#contact .first_name
	{
		width: 105px;
	}
#contact .last_name
	{
		width: 105px;
	}
#contact .email
	{
		width: 160px;
	}
#contact .btn
	{
		width: 70px;
		margin: 50px;
		display: block;
		position: relative;
		left: 330px;
	}
#contact .code
	{
		width: 35px;
	}
#contact .phone
	{
		width: 78px;
	}
#contact .message
	{
		height: 140px;
		width: 300px;	
	}
#list-box.contact
	{
		grid-column: 2;
		display: inline;
		text-align: center;
		width: 100%;
		background-color: #aaaaaa;
		margin: 20px;
	}
#list-box.contact li
	{
		list-style: none;
	}

#contact img
	{
		width: 100%;
		height: 100%;
		position: relative;
		right: 15px;
		padding-bottom: 30px;
	}
#author_footer
	{
		border-style: double;
		border-width: 5px;
		background-color: #d7b65a;
		width: 100%;
		height: 50px;
		text-align: center;
	}
#author_footer em
	{
		position: relative;
		top: 20px;
	}
#cookies
	{
		outline: solid 2px;
		display: flex;
		background-color:#FFF;
		width: 150px;
		height: 80px;
		opacity: 50%;
		text-align: center;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 0;
		
	}
	
}
/*tablet screen*/
@media screen and (min-width: 550px) and (max-width: 1220px)
{
body
	{
		background-color: #b9e5b5;
		font-family: arial;	
	}
.label
	{
		font-style: italic;
		font-size: 10px;
	}
a:hover, .btn:hover
	{
		color: #ca0a03;
	}
a:active
	{
		color: #aaa34a;	
	}
#logo
	{
		width: 50px;
		height: 50px;
		float:left;
	}
.banner
	{
		float:left;
		background-color: #d7b4a5;
		width: 100%;
		height: 50px;
		outline: solid 2px;
	}
.banner h1
	{
		
		font-size: 20px;
		position: relative;
		bottom: 10px;
		right: 7px;
		width: 300px;
		letter-spacing: 1px;
	}
.banner h2
	{
		
		font-size: 12px;
		position: relative;
		bottom: 27px;
		left: 44px;
		letter-spacing: 2px;
	}
nav .mobile
	{
		display: none;
	}
nav ul
	{
		outline: solid 2px;
		list-style-type: none;
		background-color: #65a1c3;
		width: inherit;
		text-transform: uppercase;
		display: flex;
		justify-content: space-evenly;
	}
nav li
{
	border-style: solid;
	border-width: 3px;
	background-color: #ffada0;
	padding: 5px;
}
 h1,h2, h3, h4
{
	text-transform: uppercase;
}
main
	{
		clear: both;
	}
p {font-size: 19px;}
#grid-container.index
	{
		background-color: #7f95b5;
		border-style: solid;
		border-width: 3px;
		padding: 7px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
/*styling home page*/

#grid-container.index article
	{
		background-color: #c7c8cb;
		border: solid 2px;
		text-align: center;
		padding: 15px;
		margin: 7px;
	}
#grid-container video
	{
		flex-basis: 100%;
		order: 2;
		width: 400px;
		margin: 20px;
	}
#vid-pc{display: none;}
#list-bx.index
	{
		flex-basis: 100%;
		order: 1;
		background-color: #AAAAAA;
		border-style: solid;
		border-width: 3px;
		margin: 7px;
		width: 100%;
		text-align: center;
		font-size: 25px;
		line-height: 1.9;
	}
#list-bx.index strong
	{
		text-transform: uppercase;
	}
#list-bx.index li{list-style: none;}
#article1.index
	{
		flex-basis: 100%;
		order: 5;
		display:grid;
		grid-template-areas:
		'header header'
		'photo text';
	}
#article1.index h2
	{
		grid-area: header;
		display: grid;
		justify-content: center;
	}
#article1.index img
	{
		grid-area: photo;
		width:90%;
		height: 80%;
	}
#article1.index p
	{
		grid-area: text;
	}

#article2.index
	{
		flex-basis: 100%;
		order: 4;
		display: grid;
		grid-template-areas:
		'header header'
		'photo text';
	}
#article2.index h2
	{
		grid-area: header;
		display: grid;
		justify-content: center;
	}
#article2.index img
	{
		grid-area: photo;
		width: 90%;
		height: 80%;
	}
#article2.index p
	{
		grid-area: text;
	}
#article3.index
	{
		flex-basis: 100%;
		order: 3;
		display: grid;
		grid-template-areas:
		'header header'
		'photo text';
	}
#article3.index h2
	{
		grid-area: header;
		display: grid;
		justify-content: center;
	}
#article3.index img
	{
		grid-area: photo;
		width: 90%;
		height: 80%;
	}
#article3.index p
	{
		grid-area: text;
	}
/*styling bestdestinations page*/
#grid-container.bestdestinations
	{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 5px;
		justify-content: space-evenly;
		margin: 10px;
	}

#grid-container.bestdestinations article
	{
		background-color: #c7c8cb;
		border: solid 2px;
		text-align: center;
		padding: 15px;
		margin: 3px;
	}
#article1.bestdestinations
	{
		grid-column: 1/2;
		grid-row: 1/2;
		
	}
#article2.bestdestinations
	{
		grid-column: 2/2;
		grid-row: 1/4;
		
	}
#article3.bestdestinations
	{
		grid-column: 1/2;
		grid-row: 2/5;
	}
#article4.bestdestinations
	{
		display: none;
	}
#article5.bestdestinations
	{
		grid-column: 2/2;
		grid-row: 4/5;
	}
#article6.bestdestinations
	{
		grid-column: 1/3;
	}
/*styling tickets page*/
#tickets
	{
		display: grid;
		text-align:center;
	}
#tickets table
	{
		border: solid 4px;
		margin-bottom: 30px;
		border-style: dotted;
		border-width: 4px;
		border-color: #ffffff;
	}
#tickets th
	{
		background-color: #FFFFFF;
		 outline: 2px solid;
	}
#tickets td
	{
		outline: 0.5px solid;
	}
#tickets .grey_rows
	{
		background-color: #c7c8cb;
	}
#tickets .blue_rows
	{
		background-color: #7f95b5; 
	}
/*styling contact page*/
#contact
	{
		display: grid;
		text-align: center;
		grid-template-columns:70% 20%;
		grid-column-gap: 10px;
	}
#contact p
	{
		grid-column: 1/ span 2;
		padding: 15px;
		line-height: 30px;
	}
#contact fieldset
	{
		grid-column: 1;
		height: auto;
		margin: 20px;
		background-color: #c7c8cb;
	}
#contact .first_name
	{
		width: 105px;
	}
#contact .last_name
	{
		width: 105px;
	}
#contact .email
	{
		width: 160px;
	}
#contact .btn
	{
		width: 90px;
		margin: 50px;
		display: block;
		position: relative;
		left: 150px;
	}
#contact .code
	{
		width: 35px;
	}
#contact .phone
	{
		width: 78px;
	}
#contact .message
	{
		height: 140px;
		width: 300px;	
	}
#list-box.contact
	{
		background-color: #aaaaaa;
		border-style: solid;
		border-width: 2px;
		padding: 15px;
		text-align: center;
		grid-column: 2;
		width: 150px;
		margin: 20px;
	}
#list-box.contact li
	{
		list-style: none;
	}

#contact img
	{
		width: 100%;
		height: 100%;
		position: relative;
		right: 15px;
		padding-bottom: 30px;
	}
/*styling remaining product list*/
#list-box.bestdestinations
	{
		grid-column: 1/3;
		background-color: #AAAAAA;
		border: solid 2px;
		padding: 15px;
		display: grid;
		grid-template-areas:
		'header header'
		'producta productb'
		'label label';
		text-align: center;
		justify-content: space-evenly;
	}
 #list-box.tickets
	{
		
		background-color: #AAAAAA;
		border: solid 2px;
		padding: 15px;
		display: grid;
		grid-template-areas:
		'header header'
		'producta productb'
		'label label';
		text-align: center;
		justify-content: space-evenly;
		margin-bottom: 30px;
	}
#list-box.tickets img
{
	width: 150px;
	border: solid 1px;
}
#list-box.bestdestinations li
	{
		display: inline;
		margin-right: 100px;
	}
#list-box.tickets li
	{
		display: inline;
		margin-right: 70px;
	}
#list-box.bestdestinations h3, #list-box.tickets h3
	{
		grid-area: header;
		display: inline-block;
	}
#product1.listproducts a
	{
		display: inline;
		grid-area: producta;
	}
#product2.listproducts a
	{
		display: inline;
		grid-area: productb;
	}
#list-box.bestdestinations img, #list-box.tickets img
	{
		max-width: 35%;
		height: 300px;
		padding: 5px;
	}
#list-box.bestdestinations footer, #list-box.tickets footer
	{
		grid-area: label;
	}
.bestdestinations #product3.listproducts
	{
		display: none;
	}
.tickets #product1.listproducts
	{
		display: none;
	}
/*styling page footer*/
#author_footer
	{
		border-style: double;
		border-width: 5px;
		background-color: #ccad01;
		width: 100%;
		height: 50px;
		text-align: center;
	}
#author_footer em
	{
		position: relative;
		top: 20px;
	}
/*styling cookies box*/
#cookies
	{
		outline: solid 2px;
		background-color:#FFF;
		width: 150px;
		height: 80px;
		opacity: 50%;
		text-align: center;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 1;
		
	}
}
/*phone screen*/
@media screen and (max-width: 550px)
{
body
	{
		background-color: #b9a1c3;
		font-family: sans-serif;
	}
a:hover, .menu label:hover
{
  color: #00ffaa;
}
a:active, .btn:hover
{
  color: #ca0aa1;
}
 h1,h2, h3, h4
{
	text-transform: uppercase;
}
/*styling the banner and nav*/
.banner
	{
	background-color:#d7b4a5;
	width: 90.6%;
	height: 37px;
	float: left;
	}
.banner h1
	{
		font-size: 15px;
		position: relative;
		bottom: 12px;
		left: 3px;
		letter-spacing: 1px;
	}
.banner h2
	{
		font-size: 9px;
		position: relative;
		bottom: 22px;
		left: 3px;
		letter-spacing: 2px;
	}
.menu
	{
		display: flex;
		justify-content: center;
		background-color: #65a1c3;
		float: right;
		width: 9.4%;
		height: 37px;
		margin-bottom: 10px;
	}
.menu input
	{
	display: none;
	}
.menu label
	{
	font-size: 1.7em;
	color: #ffadad;
	}
#items li
	{
		list-style-type: none;
		font-size: 15px;
		box-sizing: border-box;
		width: auto;
		border-width: 1px;
		border-style: solid;
		background-color: #65a1c3;;
	}
#items { display: none;}
	
#menu_icon:checked ~ #items
	{
		display: block;
		position: absolute ;
		z-index: 1;
		top: 29px;
		right: 8px;
	}
/*styling the index*/
.pc{display: none;}
main
	{
		clear: both;
		display: flex;
		flex-wrap: wrap;
	}
.label
	{
		font-style: italic;
		font-size: 10px;
	}
#grid-container.index{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		order:2;
		display: flex;
		flex-wrap: wrap;
		margin: 10px;
	}
	
#grid-container.index > article
	{
		background-color: #c7c8cb;
		border: solid 2px;
		text-align: center;
		padding: 15px;
		margin: 5px;
	}
#article1.index
	{
		flex-basis: 100%;
		order:4;
		display: grid;
		grid-template-areas:
		'header header'
		'photo article';	
	}
#article1.index h2
	{
		grid-area: header;
		display: grid;
		justify-content: center;
		text-indent: 110px;
	}
#article1.index img
	{
		grid-area: photo;
		height: 100%;
		width: 97%;
		position: relative;
		bottom: 10px;
	}
#article1.index p
	{
		font-size: 13px;
		grid-area: article;
		word-spacing: 4px;
	}
#article2.index
	{
		flex-basis: 100%;
		order:3;
		display: grid;
		grid-template-areas:
		'header header'
		'photo article'
	}
#article2.index h2
	{
		grid-area: header;
		display: grid;
		justify-content: center;
		text-indent: 100px;
	}
#article2.index img
	{
		grid-area: photo;
		height: 100%;
		width: 97%;
	}
#article2.index p
	{
		font-size: 13px;
		grid-area: article;
		word-spacing: 4px;
	}
#article3.index
	{
		flex-basis: 100%;
		order:2;
		display: grid;
		grid-template-areas:
		'header header'
		'photo article';
	}
#article3.index h2
	{
		grid-area: header;
		display: grid;
		justify-content: center;
		text-indent: 100px;
	}
#article3.index img
	{
		grid-area: photo;
		height: 100%;
		width: 97%;
	}
#article3.index p
	{
		font-size: 13px;
		grid-area: article;
		word-spacing: 4px;
	}
#list-bx.index
	{
		flex-basis: 100%;
		order: 1;
		border: solid 3px;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #AAAAAA;
		margin: 9px;
		line-height: 2;
	}
#list-bx.index strong
	{
		text-transform: uppercase;
	}
#list-bx.index li
	{
		list-style: none;
	}
/*styling bestdestinations page*/
#grid-container.bestdestinations
	{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		display: flex;
		flex-wrap: wrap;
		margin: 10px;
	}
#grid-container.bestdestinations article
	{
		background-color: #c7c8cb;
		border: solid 2px;
		text-align: center;
		padding: 15px;
		margin: 5px;
	}
	
#article1.bestdestinations
	{
		flex-basis: 100%;
		order:4;
	}
#article2.bestdestinations
	{
		flex-basis: 100%;
		order:3;
	}
#article3.bestdestinations
	{
		flex-basis: 100%;
		order:2;
	}
#article4.bestdestinations
	{
		display: none;
	}
#article5.bestdestinations
	{
		flex-basis: 100%;
		order:1;
	}
#article6.bestdestinations
	{
		display: none;
	}
/*styling tickets page*/
#tickets
	{
		display: grid;
		justify-content: center;
	}
#tickets table
	{
		border-style: dotted;
		border-width: 4px;
		border-color: #ffffff;
		margin: 7px;
		width: auto;
	}
#tickets th
	{
		background-color: #ffffff;
		 outline: 2px solid;
	}
#tickets td
	{
		outline: 0.5px solid;
	}
#tickets .grey_rows
	{
		background-color: #c7c8cb;
	}
#tickets .blue_rows
	{
		background-color: #7f95b5; 
	}
/*styling contact page*/
#contact p
	{
		padding: 10px;
		text-align: center;
		line-height: 30px;
	}
#contact fieldset
	{
		height: 500px;
		background-color: #c7c8cb;
		text-align: center;
	}
#contact .first_name, .last_name
	{
		width: 105px;
	}
#contact .email
	{
		width: 160px;
	}
#contact .btn
	{
		width: 80px;
		margin: 50px;
		display: block;
		position: relative;
		left: 120px;
	}
#contact .code
	{
		width: 40px;
	}
#contact .phone
	{
		width: 120px;
	}
#contact .message
	{
		height: 100px;
		width: 300px;
	}
/*styling product list for remaining pages*/
#list-box
	{
		background-color: #AAAAAA;
		text-align: center;
		border-style: solid;
		border-width: 2px;
		margin: 10px;
		flex-basis: 100%;
		order: 5;
	}
	
#list-box li
	{
		position: relative;
		right: 10px;
		list-style: none;
	}
#list-box img
	{
		width: 300px;
		height: 200px;
		margin: 10px;
	}
#list-box label
	{
		position: relative;
		bottom: 20px;
	}
/*styling the footer*/
#author_footer
	{
		background-color: #7d9012;
		width: 100%;
		height: 50px;
		text-align: center;
		border-style: double;
		border-width: 5px;
	}
#author_footer em
	{
		position: relative;
		top: 20px;
	}
/*styling cookies box*/
#cookies
	{
		display: flex;
		background-color:#FFF;
		width: 150px;
		height: 80px;
		opacity: 50%;
		text-align: center;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
	
}