@media screen and (min-width: 1220px)
{
	body{
		background-color: #f2b0b5;
	}
	.banner{
	background-color:#d7b4a5;
}
	.logo{
	width: 50px;
	height: 50px;
	float: left;
}
	nav{
	background-color: #65a1c3;
	
}
	video{
		width: 1000px;
		height: 200px;
	}
	a{
	color: #d7b4a5;
}
}
@media screen and (min-width: 550px) and (max-width: 1219px)
{
	body{
		background-color: #b9e5b5;
		
	}
	.banner{
	background-color:#d7b4a5;
}
		.logo{
	width: 50px;
	height: 50px;
	float: left;
}

	
}
@media screen and (min-width: 4px) and (max-width: 549px)
{
	body{
		background-color: #b9a1c3;
		
	}
	.banner{
	background-color:#d7b4a5;
	float: left;
	width: 65%;
}
h1{font-size: 23px;}
h2{font-size: 15px;}
	nav{
		background-color: #65a1c3;
		float: right;
		width:35%;
}
		.logo{
	width: 75px;
	height: 75px;
	float: left;
}
	#pc{
		display: none;
	}
	main{
		clear: both;
	}
	#grid-container{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		display: flex;
		flex-wrap: wrap;
	}
	#grid-container > article
	{
		background-color: #EEE;
		border: solid 2px #666;
		text-align: center-left;
		padding: 15px;
	}
	img
	{
		width: 90%;
	}
	label{font-style: italic;
	font-size: 10px;}
	
	aside
	{
		background-color: #7f87b5;
		border: solid 3px;
		padding: 25px;
		width: 100%;
		align-text: center;	
	}
	#article1
	{
		flex-basis: 100%;
		order:3;
		
	}
	#article2
	{
		flex-basis: 100%;
		order:2;
	}
	#article3
	{
		flex-basis: 100%;
		order:1;
	}
	#author_footer
	{
		background-color: #d7b4a5;
		width: 65%;
		float: left;
		height: 50px;
	}
	#cookies
	{
		background-color:#fff;
		width: 35%;
		opacity: #fa0 50%;
		float: right;
		text-align: center;
		
	}
}