@media screen and (min-width: 1220px)
{
body{
		background-color: #f2b0b5;
	}
	.banner{
	background-color:#d7b4a5;
}
	.logo{
	width: 50px;
	height: 50px;
	float: left;
}
	nav{
	background-color: #65a1c3;
	
}
	video{
		width: 1000px;
		height: 200px;
	}
	a{
	color: #d7b4a5;
}
}
@media screen and (min-width: 550px) and (max-width: 1219px)
{
	body{
		background-color: #b9e5b5;
		
	}
	.banner{
	background-color:#d7b4a5;
	
}
		.logo{
	width: 50px;
	height: 50px;
	float: left;
}

	
}
@media screen and (max-width: 549px)
{
	body{
		background-color: #b9a1c3;
		
	}
	.banner{
	background-color:#d7b4a5;
	width: 300px;
	float: left;
}
	.banner h1, h2{padding: 3px;}
	
	nav{
		background-color: #65a1c3;
		justify-content: center;
		float: right;
		width: 120px
		}
	nav h4
	{
		font-size: 112%;
		padding-left: 30%;
	}
	#pc{display: none;}
	
	}
	main{clear: both;}
	
	#grid-container.index{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		
		
	}
	
	#grid-container.index > article
	{
		background-color: #EEE;
		border: solid 2px #666;
		text-align: center-left;
		padding: 15px;
		
		display: grid;
		grid-template-columns: auto auto auto 0;
		grid-gap: 10px;
	}
	
	label{font-style: italic;
	font-size: 10px;}
	
	#index.article1 header
	{
		grid-column:1;
	}
	#index.article1 p
	{
		grid-column:3;
	}
	#index.article1 a
	{
		grid-column: 1;
		width: 2px;
		height: 5px;
	}
	article img{ width: 120px; height: 100px;}
	
	#grid-container.bestdestinations{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		display: flex;
		flex-wrap: wrap;
	}
	#grid-container.bestdestinations > article
	{
		background-color: #EEE;
		border: solid 2px #666;
		text-align: center-left;
		padding: 15px;
	}
	#bestdestinations.article1
	{
		flex-basis: 100%;
		order:4;
	}
		#bestdestinations.article2
	{
		flex-basis: 100%;
		order:3;
	}
		#bestdestinations.article3
	{
		flex-basis: 100%;
		order:2;
	}
		#bestdestinations.article4
	{
		display: none;
	}
		#bestdestinations.article5
	{
		flex-basis: 100%;
		order:1;
	}
		#bestdestinations.article6
	{
		display: none;
	}
		aside
	{
		background-color: #7f87b5;
		border: solid 3px;
		padding: 25px;
		width: 100%;
		align-text: center;	
	}
	#author_footer
	{
		background-color: #d7b4a5;
		width: 65%;
		float: left;
		height: 50px;
	}
	#cookies
	{
		background-color:#fff;
		width: 35%;
		opacity: #fa0 50%;
		float: right;
		text-align: center;
	}
}