@media screen and (min-width: 1220px)
{
	body{
		background-color: #f2b0b5;
	}
	.banner{
	background-color:#d7b4a5;
}
	.logo{
	width: 50px;
	height: 50px;
	float: left;
}

	nav{
	background-color: #65a1c3;
	width: 100%;
}
#hamitems
{
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
}
#hamnav label, #hamburguer
{
	display: none;
}
	video{
		width: 1000px;
		height: 200px;
	}
	a{
	color: #d7b4a5;
}

}
@media screen and (min-width: 550px) and (max-width: 1219px)
{
	body{
		background-color: #b9e5b5;
		
	}
	.banner{
	background-color:#d7b4a5;
}
		.logo{
	width: 50px;
	height: 50px;
	float: left;
}

	
}
@media screen and (max-width: 549px)
{
body
	{
		background-color: #b9a1c3;
	}
.banner
	{
	background-color:#d7b4a5;
	width: 90.6%;
	height: 37px;
	float: left;
	}
.banner h1
	{
		font-size: 15px;
		flex: display;
		position: relative;
		bottom: 12px;
		left: 3px;
	}
.banner h2
	{
		font-size: 12px;
		padding-bottom: 1px;
		flex: display;
		position: relative;
		bottom: 22px;
		left: 3px;
	}
.menu
	{
		display: flex;
		justify-content: center;
		background-color: #65a1c3;
		float: right;
		width: 9.4%;
		height: 37px;	
	}
.menu input
	{
	display: none;
	}
.menu label
	{
	font-size: 1.7em;
	}
#items li
	{
		list-style-type: none;
		font-size: 15px;
		box-sizing: border-box;
		width: auto;
		border: 1px solid;
		background-color: #65a1c3;;
	}
#items { display: none;}
	
#menu_icon:checked ~ #items
	{
		display: block;
		position: absolute ;
		z-index: 0;
		top: 28px;
		right: 8px;
	}
	
#pc{display: none;}

main
	{
		clear: both;
		display: flex;
		flex-wrap: wrap;
	}
img
	{
		
	}
 #label
	{
		font-style: italic;
		font-size: 10px;
	}
#grid-container.index{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		order:2;
		display: flex;
		flex-wrap: wrap;
	}
	
#grid-container.index > article
	{
		background-color: #c7c8cb;
		border: solid 2px #666;
		text-align: center-left;
		padding: 15px;
	}
#index.article1
	{
		flex-basis: 100%;
		order:3;
		display: grid;
		grid-template-areas:
		'header article'
		'photo article';
		grid-template-rows: min-content min-content;			
	}
#index.article1 h1
	{
		grid-area: header;
		position: relative;
		bottom: 20px;
	}
#index.article1 img
	{
		grid-area: photo;
		height: 100%;
		width: 97%;
		position: relative;
		bottom: 50px;
	}
#index.article1 p
	{
		font-size: 13px;
		grid-area: article;
	}
#index.article2
	{
		flex-basis: 100%;
		order:2;
		display: grid;
		grid-template-areas:
		'header article'
		'photo article';
		grid-template-rows: min-content min-content;
				
	}
#index.article2 h1
	{
		grid-area: header;
		position: relative;
		bottom: 15px;
	}
#index.article2 img
	{
		grid-area: photo;
		height: 100%;
		width: 97%;
		position: relative;
		bottom: 30px;
	}
#index.article2 p
	{
		font-size: 13px;
		grid-area: article;
		
	}
#index.article3
	{
		flex-basis: 100%;
		order:1;
		display: grid;
		grid-template-areas:
		'header article'
		'photo article';
		grid-template-rows: auto;
				
	}
#index.article3 h1
	{
		grid-area: header;
		position: relative;
		bottom: 15px;
	}
#index.article3 img
	{
		grid-area: photo;
		height: 115%;
		width: 97%;
		position: relative;
		bottom: 55px;
	}
#index.article3 p
	{
		font-size: 13px;
		grid-area: article;
		
	}
#grid-container.bestdestinations{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		display: flex;
		flex-wrap: wrap;
	}
#grid-container.bestdestinations > article
	{
		background-color: #c7c8cb;
		border: solid 2px #666;
		text-align: center-left;
		padding: 15px;
	}
	
#bestdestinations.article1
	{
		flex-basis: 100%;
		order:4;
	}
#bestdestinations.article2
	{
		flex-basis: 100%;
		order:3;
	}
#bestdestinations.article3
	{
		flex-basis: 100%;
		order:2;
	}
#bestdestinations.article4
	{
		display: none;
	}
#bestdestinations.article5
	{
		flex-basis: 100%;
		order:1;
	}
#bestdestinations.article6
	{
		display: none;
	}
#tickets table
	{
		border: solid 4px;
		background-color:; 
	}
#tickets th
	{
		background-color: #d7b4a5;
		 outline: 2px solid;
	}
#tickets td
	{
		outline: 0.5px solid;
	}
#tickets .grey_rows
	{
		background-color: #c7c8cb;
	}
#tickets .blue_rows
	{
		background-color: #7f95b5; 
	}
#contact fieldset
	{
		height: 485px;
		
	}
#contact .form
	{
		display: grid;
		justify-content: center;
		text-align: center;
	}
#contact .first_name
	{
		width: 105px;
		position:relative;
		left: 100px;
	}
#contact .last_name
	{
		width: 105px;
		position: relative;
		left: 220px;
		bottom: 22px;
	}
#contact .email
	{
		width: 165px;
	}
#contact .btn
	{
		width: 70px;
		position: relative;
		left: 180px;
	}
#contact .code
	{
		width: 35px;
		position: relative;
		left: 20px;
	}
#contact .phone
	{
		width: 78px;
		position: relative;
		left: 27px;
	}
#contact .message
	{
		height: 100px;
		width: 300px;
		position: relative;
		left: 70px;
	}
#contact .btn
	{
		width: 70px;
		position: relative;
		left: 180px;
	}
#index.list-box
	{
		order: 1;
		display:flex;
		background-color: #7f95b5;
		border: solid 3px;
		padding-bottom: 30px;
		width: 100%;
		height: 115px;
		justify-content: center;
	}
#index.list-box h4
	{
		position: relative;
		bottom: 25px;
	}
	#index.list-box li
	{
		position: relative;
		bottom: 35px;
	}
.list-box
	{
		background-color: #7f95b5;
		text-align: center;
		
	}
	
.list-box li
{
	box-sizing: pading-box;
	position: relative;
	right: 10px;	
}
.list-box img
	{
		width: 90%;
		height: 50%
	}
.list-box label
	{
		position: relative;
		bottom: 20px;
	}
#author_footer
	{
		background-color: #d7b4a5;
		width: 100%;
		height: 50px;
		text-align: center;
	}
#author_footer em
	{
		position: relative;
		top: 20px;
	}
#cookies
	{
		display: flex;
		background-color:#FFF;
		width: 150px;
		height: 80px;
		opacity: 50%;
		justify-content: center;
		position: fixed;
		bottom: 0;
		right: 0;
		
	}
	
}