@media screen and (min-width: 1220px)
{
	body{
		background-color: #f2b0b5;
	}
	.banner{
	background-color:#d7b4a5;
}
	.logo{
	width: 50px;
	height: 50px;
	float: left;
}

	nav{
	background-color: #65a1c3;
	width: 100%;
}
#hamitems
{
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
}
#hamnav label, #hamburguer
{
	display: none;
}
	video{
		width: 1000px;
		height: 200px;
	}
	a{
	color: #d7b4a5;
}

}
@media screen and (min-width: 550px) and (max-width: 1219px)
{
	body{
		background-color: #b9e5b5;
		
	}
	.banner{
	background-color:#d7b4a5;
}
		.logo{
	width: 50px;
	height: 50px;
	float: left;
}

	
}
@media screen and (max-width: 549px)
{
	body
	{
		background-color: #b9a1c3;
	}
	.banner
	{
	background-color:#d7b4a5;
	width: 420px;
	height: 27px;
	float: left;
	}
	.banner h2
	{
		font-size: 10px;
		padding-bottom: 1px;
		flex: display;
		position: relative;
		bottom: 27px;
		left: 3px;
	}
	.banner h1
	{
		font-size: 15px;
		flex: display;
		position: relative;
		bottom: 12px;
		left: 3px;
	}
	.menu
	{
		background-color: #65a1c3;
		float: right;
		width: 47px;
		height: 27px;	
	}
	.menu input
	{
	display: none;
	}

	#items li
	{
		list-style-type: none;
		font-size: 15px;
		box-sizing: border-box;
		width: auto;
		border: 1px solid;
		background-color: #65a1c3;;
	}

	.menu label
	{
	flex: display;
	position: relative;
	left: 13px;
	font-size: 1.2em;
	}
	#items { display: none;}
	
	#menu_icon:checked ~ #items
	{
		display: block;
		position: absolute ;
		z-index: 0;
		top: 19px;
		right: 9px;
	}
	
	#pc{display: none;}

	main
	{
		clear: both;
		display: flex;
		flex-wrap: wrap;
	}
	img
	{
		width: 165px;
		height: 150px;
	}
	article label
	{
		font-style: italic;
		font-size: 10px;
	}
	#grid-container.index{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		order:2;
		display: flex;
		flex-wrap: wrap;
	}
	
	#grid-container.index > article
	{
		background-color: #EEE;
		border: solid 2px #666;
		text-align: center-left;
		padding: 15px;
	}
	#index.article1
	{
		flex-basis: 100%;
		order:3;
		display: grid;
		grid-template-areas:
		'header article'
		'photo article';
		grid-template-rows:20px;
				
	}
	#index.article1 img
	{
		grid-area: photo;
	}
	#index.article1 p
	{
		font-size: 13px;
		grid-area: article;
		
	}
	#index.article1 header
	{
		grid-area: header;
		position: relative;
		bottom: 25px;
	}
#index.article2
	{
		flex-basis: 100%;
		order:2;
		display: grid;
		grid-template-areas:
		'header article'
		'photo article';
		grid-template-rows:20px;
				
	}
	#index.article2 img
	{
		grid-area: photo;
	}
	#index.article2 p
	{
		font-size: 13px;
		grid-area: article;
		
	}
	#index.article2 header
	{
		grid-area: header;
		position: relative;
		bottom: 25px;
	}
	#index.article3
	{
		flex-basis: 100%;
		order:1;
		display: grid;
		grid-template-areas:
		'header article'
		'photo article';
		grid-template-rows:20px;
				
	}
	#index.article3 img
	{
		grid-area: photo;
	}
	#index.article3 p
	{
		font-size: 13px;
		grid-area: article;
		
	}
	#index.article3 header
	{
		grid-area: header;
		position: relative;
		bottom: 25px;
	}
	#grid-container.bestdestinations{
		background-color: #7f95b5;
		border: solid 3px;
		padding: 7px;
		display: flex;
		flex-wrap: wrap;
	}
	#grid-container.bestdestinations > article
	{
		background-color: #EEE;
		border: solid 2px #666;
		text-align: center-left;
		padding: 15px;
	}
	#bestdestinations.article1
	{
		flex-basis: 100%;
		order:4;
	}
		#bestdestinations.article2
	{
		flex-basis: 100%;
		order:3;
	}
		#bestdestinations.article3
	{
		flex-basis: 100%;
		order:2;
	}
		#bestdestinations.article4
	{
		display: none;
	}
		#bestdestinations.article5
	{
		flex-basis: 100%;
		order:1;
	}
		#bestdestinations.article6
	{
		display: none;
	}
		.list-box
	{
		order: 1;
		display:flex;
		background-color: #7f95b5;
		border: solid 3px;
		padding: 25px;
		width: 100%;
		height: auto;
		justify-content: center;
	}
	#author_footer
	{
		background-color: #d7b4a5;
		width: 100%;
		float: left;
		height: 50px;
	}
	#cookies
	{
		display: flex;
		background-color:#FFF;
		width: 35%;
		opacity: 50%;
		justify-content: center;
		position: fixed;
		bottom: 0;
		right: 0;
		
	}
}